# Données volumineuses 
fruits/
data/sample/
results/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
.lh/

# Secrets / clés SSH
*.pem
*.ppk

# Dossiers de travail
presentation/
livrables_finaux/
P11_Fruits_BigData_Duhem_Stephanie.zip
